.pos-sidebar{
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    background-color: #297FAF;
}
.pos-content{
    width: 100%;
    background-color: #f0f0f0;
}
.pos-nav{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 20px;
    border-radius: 10px;
}
.pos-sidebar-logo{
    padding: 10px;
}
.product-item{
    position: relative;
}
.product-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.product-item {
    position: relative;
}
.hover-img{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.6px);
    left: 0;
    bottom: 0;
}
.product-hover {
    height: 70%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

/* Show the .product-hover when hovering over the .product-item */
.product-item:hover .product-hover {
    opacity: 1;
}

.purchase-btn button{
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 30px;
}
.item-name{
    position: relative;
    top: 10px;
}
.pos-sidebar-menu{
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    border-radius: 0 !important;
    padding: 10px;
    cursor: pointer;
}
.pos-sidebar-menu:hover, .pos-sidebar-menu.active{
    background-color: rgba(0, 0, 0, 0.15);
}
.pos-sidebar-menu:focus{
    outline: none;
}
.sub-menus{
    margin-bottom: 10px;
}
.sub-menus a{
    color: #000;
}
.print-font-size1, .pos-table td{
    font-size: 43px;
}
.pos-table{
    width: 100%;
}
.pos-table thead,.pos-table tbody{
    border-bottom: 2px solid #333;
}
.text-small{
    font-size: 25px;
}
.printable-bill{
margin-left:10px;
    display: none;
}

@media print {
    .noPrint {
        display: none !important;
    }
    .printable-bill{
        display: block !important;
    }
}
.purchase-btn button{
    cursor: pointer;
}

.products-list{
    height: 80vh;
    overflow-y: scroll;
}
.sidebar-menu-pos{
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
.sidebar-menu-pos {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar-menu-pos::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.sub-menus{
    width: calc(100vw - 400px);
    overflow-x: scroll;
}

.sub-menus{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sub-menus::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.pos-imgs {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

}
.product-image1 {
    width: 100%; /* Maintain aspect ratio */
    object-fit: cover;
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Crop the image to fit the container */
    margin: 5px; /* Space between images */
}
.product-image2 {
    width: 50% !important; /* Maintain aspect ratio */
    object-fit: cover;
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Crop the image to fit the container */
 }

 .product-image3 {
    width: 50% !important; /* Maintain aspect ratio */
    object-fit: cover;
    height: 75px !important; /* Set a fixed height */
    object-fit: cover; /* Crop the image to fit the container */
 }

 .product-image4 {
    width: 50% !important; /* Maintain aspect ratio */
    object-fit: cover;
    height: 75px !important; /* Set a fixed height */
    object-fit: cover; /* Crop the image to fit the container */
 }
